Track ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Стилі для вертикального скролбару */
::-webkit-scrollbar {
  width: 2px; /* ширина вертикального скролбару */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* фон шляху вертикального скролбару */
}

::-webkit-scrollbar-thumb {
  background: #888; /* колір "ползунка" вертикального скролбару */
  border-radius: 2px; /* заокруглені кути "ползунка" */
}

::-webkit-scrollbar {
  height: 0px;
}
